<blockquote class="blockquote tlog-quote">

    {% assign size = post.quote.size %}
    {% if size < 100 %}
    {% assign size_class = "short" %}
    {% elsif size < 500 %}
    {% assign size_class = "medium" %}
    {% else % }
    {% assign size_class = "long" %}
    {% endif %}

    <div class="tlog-quote__content {% if post.sized_quote %}tlog-sized-quote tlog-sized-quote--{{ size_class }}{% endif %}">{{ post.quote }}</div>

    {% if post.cite or post.lang %}
        <footer class="blockquote-footer tlog-quote__footer">
            {% if post.cite %}
                {{ post.cite | replace: "<a>", '<a href="url" target="_blank">' | replace: 'url', post.link }}
            {% endif %}

            {% if post.lang %}
                <span class="tlog-quote__lang">(translated from {{ post.lang }})</span>
            {% endif %}
        </footer>
    {% endif %}
</blockquote>

