/**************************************
 *	Top Level Elements
 *************************************/

 body {
    background: #FAFAFA;
    color: #444;
}
  
a, a:focus, a:hover {
    color: #a7a7a7;
    text-decoration: none;
}

/**************************************
 *	Page content
 *************************************/

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

/* @media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
} */


/**************************************
 *	Posts
 *************************************/

/* Post Header */

.tlog-post-header {
    background: #f2f2f2;
    border-bottom: none;
}

.tlog-post-header a {
    color: inherit;
}

.tlog-post-title {
    font-size: 1.375rem;
    font-weight: 700;
}

/* Post Content */

.tlog-post-content a {
    color: inherit;
    text-decoration: underline;
}

/* .tlog-post-content .blockquote {
    font-size: 1rem;
} */

/* Post Content */

.tlog-post-lead {
    font-weight: bold;
}

/* Post Footer */

.tlog-post-footer {
    border-top: none;
    color: #686868;
    font-size: .875rem;
    line-height: 1.2;
}

.tlog-post-footer a {
    color: #a7a7a7;
    display: inline-block;
    margin-right: 10px;
}

/**************************************
 *	Quotes
 *************************************/

.tlog-quote__content {
    font-size: 1rem;
    margin-bottom: 0.625rem;
}

.tlog-quote__content::before {
    content: open-quote;
}

.tlog-quote__content::after {
    content: close-quote;
}

.tlog-quote__cite {
    font-style: normal;
}

.tlog-quote__footer {
    color: inherit;
}


/* Text sizes */

.tlog-sized-quote {
    font-family: Georgia, Times, serif;
    line-height: 1.3;
}

.tlog-sized-quote--short {
    font-size: 2.125rem;
}

.tlog-sized-quote--medium {
    font-size: 1.5rem;
}

.tlog-sized-quote--long {
    font-size: 1.25rem;
}
